# http://www.gnu.org/software/automake

*/*.DO
*/*.EDF
*/*.log
*/*.workspace
*/*.sts
*/*.pdsbak

# Generated Makefile 
# (meta build system like autotools, 
# can automatically generate from config.status script
# (which is called by configure script))
Makefile
